@font-face {
	
	font-family: prisma;
	src: url(../font/Prisma.ttf);
	
	
}


#title {
	font-family: prisma;
	transform: translateY(400%);
	transform: translateX(500%)
	font-size: 30px;
	
	
}
